.navbar {
  position: fixed;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 100;
}

.logo {
  padding: 0 20px;
}

.logo p {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.pc-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 50px;

  @media (max-width: 800px) {
    display: none;
  }
}

.pc-menu li {
  list-style: none;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.pc-menu li:hover {
  color: #ffc900;
}

.active-menu-item {
  color: #ffc900;
}